:root {
  --ff-main: "Red Hat Display", sans-serif;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;
  --fs-heading: 1.375rem;
  --fs-copy: 0.938rem;
  --fs-medium: 0.875rem;
  --fs-small: 0.813rem;
  --copy-line-height: 1.667;
  --ty-heading: var(--fw-black) var(--fs-heading) var(--ff-main);
  --ty-copy: var(--fw-medium) var(--fs-copy)/var(--copy-line-height) var(--ff-main);
  --ty-subscription-type: var(--fw-black) var(--fs-medium) var(--ff-main);
  --ty-price: var(--fw-medium) var(--fs-medium) var(--ff-main);
  --ty-change-link: var(--fw-bold) var(--fs-small) var(--ff-main);
  --ty-button: var(--fw-black) var(--fs-copy) var(--ff-main);
  --cl-dark: #1F2E55;
  --cl-bright: #382AE1;
  --cl-medium: #766CF1;
  --cl-desaturated: #717FA6;
  --cl-pale: #E0E8FF;
  --cl-light: #F7F9FF;
}
@media (min-width: 60rem) {
  :root {
    --fs-heading: 1.75rem;
    --fs-copy: 1rem;
    --fs-medium: 0.938rem;
    --fs-small: 0.875rem;
    --copy-line-height: 1.625;
    --ty-button: var(--fw-black) var(--fs-medium) var(--ff-main);
  }
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
}
.top-wrapper {
  display: grid;
  align-content: center;
  margin: 0;
  min-height: 100svh;
  background: var(--cl-pale) no-repeat center top;
  background-image: url(../images/pattern-background-mobile.svg);
  background-size: contain;
  font: var(--ty-copy);
  color: var(--cl-desaturated);
}
@media (min-width: 60rem) {
  .top-wrapper {
    background-image: url(../images/pattern-background-desktop.svg);
  }
}
.summary-card {
  display: grid;
  width: 90%;
  max-width: 20.438rem;
  margin: auto;
  border-radius: 1.25rem;
  background: white;
  box-shadow: 0 1.563rem 3.125rem -1.25rem rgba(13, 48, 189, 0.1518);
  transition: max-width 0.3s ease-out;
}
@media (min-width: 60rem) {
  .summary-card {
    max-width: 28.125rem;
  }
}
.summary-card__image {
  border-radius: 1.25rem 1.25rem 0 0;
  margin-bottom: 2rem;
}
.summary-card__heading {
  font: var(--ty-heading);
  color: var(--cl-dark);
  text-align: center;
  margin: 0 0 1rem;
  padding: 0 2rem;
}
@media (min-width: 60rem) {
  .summary-card__heading {
    padding: 0 3rem;
  }
}
.summary-card__main-wrapper {
  display: grid;
  padding: 0 2rem 1.25rem;
}
@media (min-width: 60rem) {
  .summary-card__main-wrapper {
    padding: 0 3rem 2rem;
  }
}
.summary-card__description {
  text-align: center;
  margin: 0 0 1.5rem;
}
.summary-card__subscription-option {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.25rem;
  background: var(--cl-light);
  border-radius: 0.688rem;
  padding: 1rem;
  margin: 0 0 1.5rem;
}
@media (min-width: 60rem) {
  .summary-card__subscription-option {
    padding: 1.5rem;
  }
}
.summary-card__subscription-opted-info {
  flex-grow: 1;
  display: grid;
  gap: 0.25rem;
  margin: 0;
}
.summary-card__subscription-opted-plan {
  font: var(--ty-subscription-type);
  color: var(--cl-dark);
}
.summary-card__subscription-opted-price {
  font: var(--ty-price);
}
.summary-card__subscription-change-link {
  font: var(--ty-change-link);
  color: var(--cl-bright);
  transition: color 0.2s ease-out;
}
.summary-card__subscription-change-link:hover {
  color: var(--cl-medium);
  text-decoration: none;
}
.summary-card__button {
  font: var(--ty-button);
  border: 0;
  border-radius: 0.688rem;
  cursor: pointer;
}
.summary-card__button--primary {
  background: var(--cl-bright);
  color: white;
  margin: 0 0 1rem;
  padding: 0.938rem 0.75rem;
  transition: background 0.2s ease-out;
  box-shadow: 0 1.25rem 1.25rem 0 rgba(56, 42, 225, 0.1903);
}
.summary-card__button--primary:hover {
  background: var(--cl-medium);
}
@media (min-width: 60rem) {
  .summary-card__button--primary {
    margin: 0 0 1.5rem;
  }
}
.summary-card__button--secondary {
  background: transparent;
  color: var(--cl-desaturated);
  padding: 0.938rem 0.75rem;
  transition: color 0.2s ease-out;
}
.summary-card__button--secondary:hover {
  color: var(--cl-dark);
}
.signature {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
/*# sourceMappingURL=./styles.css.map */